In [234]:
%reset -f

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

# to compute time of pipeline
from time import time, strftime, gmtime

import warnings

warnings.filterwarnings(action="ignore")

input_path = "./dataset/source/"

#output_path = "./dataset/cleaned/"
#output_filename = "data_cleaned.csv"

# Set file name
#raw_dataset_file = "{}{}".format(input_path, input_filename)
#cleaned_dataset_file = "{}{}".format(output_path, output_filename)

import warnings
warnings.filterwarnings('ignore')
#warnings.filterwarnings(action="once")

%matplotlib inline
%autosave 300

Autosaving every 300 seconds

dataset_customers = "olist_customers_dataset.csv"
dataset_geolocalion = "olist_geolocation_dataset.csv"
dataset_order_items = "olist_order_items_dataset.csv"
dataset_order_payments = "olist_order_payments_dataset.csv"
dataset_order_reviews = "olist_order_reviews_dataset.csv"
dataset_orders = "olist_orders_dataset.csv"
dataset_products = "olist_products_dataset.csv"
dataset_sellers = "olist_sellers_dataset.csv"
dataset_product_category_name_translation = "product_category_name_translation.csv"

In [235]:
def load_data(path, filename):
    """
    Step 0)
    :param path:
    :param filename: (string)
    :return:
    """
    print("___Loading raw dataset___")

    # Load raw data
    dataset_file = "{}{}".format(path, filename)
    dataset = pd.read_csv(dataset_file)

    print("Initial shape :", dataset.shape)
    return dataset

In [236]:
from os import listdir
from os.path import isfile, join
all_files = [f for f in listdir(input_path) if isfile(join(input_path, f))]

all_csv_files = [file for file in all_files if file.endswith(".csv")]
print(all_files)

print(all_csv_files)

['archive.zip', 'olist_customers_dataset.csv', 'olist_geolocation_dataset.csv', 'olist_orders_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_products_dataset.csv', 'olist_sellers_dataset.csv', 'product_category_name_translation.csv']
['olist_customers_dataset.csv', 'olist_geolocation_dataset.csv', 'olist_orders_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_products_dataset.csv', 'olist_sellers_dataset.csv', 'product_category_name_translation.csv']

In [237]:
for index, dataset_csv in enumerate(all_csv_files):
    name = dataset_csv.split(".")[0]
    if name.startswith("olist"):
        list_name = name.split("_")[1:-1]
        name = "_".join(list_name)
        #print(name)
    #else:
    #    print(name)
    #continue
    #print(name)
    globals()["dataset_" + name] = load_data(input_path, dataset_csv)
    df = globals()["dataset_" + name]

    print("This is the dataset n°{} : {}".format(index + 1, name))
    display(df.head(10))
    display(df.info())

___Loading raw dataset___
Initial shape : (99441, 5)
This is the dataset n°1 : customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

___Loading raw dataset___
Initial shape : (1000163, 5)
This is the dataset n°2 : geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
5,1012,-23.547762,-46.635361,são paulo,SP
6,1047,-23.546273,-46.641225,sao paulo,SP
7,1013,-23.546923,-46.634264,sao paulo,SP
8,1029,-23.543769,-46.634278,sao paulo,SP
9,1011,-23.547640,-46.636032,sao paulo,SP

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

None

___Loading raw dataset___
Initial shape : (99441, 8)
This is the dataset n°3 : orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

___Loading raw dataset___
Initial shape : (112650, 7)
This is the dataset n°4 : order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

___Loading raw dataset___
Initial shape : (103886, 5)
This is the dataset n°5 : order_payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

___Loading raw dataset___
Initial shape : (99224, 7)
This is the dataset n°6 : order_reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:37
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5,NaN,NaN,2017-07-16 00:00:00,2017-07-18 19:30:34
7,7c6400515c67679fbee952a7525281ef,c31a859e34e3adac22f376954e19b39d,5,NaN,NaN,2018-08-14 00:00:00,2018-08-14 21:36:06
8,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,5,NaN,NaN,2017-05-17 00:00:00,2017-05-18 12:05:37
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

None

___Loading raw dataset___
Initial shape : (32951, 9)
This is the dataset n°7 : products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
5,41d3672d4792049fa1779bb35283ed13,instrumentos_musicais,60.0,745.0,1.0,200.0,38.0,5.0,11.0
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,56.0,1272.0,4.0,18350.0,70.0,24.0,44.0
7,2548af3e6e77a690cf3eb6368e9ab61e,moveis_decoracao,56.0,184.0,2.0,900.0,40.0,8.0,40.0
8,37cc742be07708b53a98702e77a21a02,eletrodomesticos,57.0,163.0,1.0,400.0,27.0,13.0,17.0
9,8c92109888e8cdf9d66dc7e463025574,brinquedos,36.0,1156.0,1.0,600.0,17.0,10.0,12.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

None

___Loading raw dataset___
Initial shape : (3095, 4)
This is the dataset n°8 : sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
5,c240c4061717ac1806ae6ee72be3533b,20920,rio de janeiro,RJ
6,e49c26c3edfa46d227d5121a6b6e4d37,55325,brejao,PE
7,1b938a7ec6ac5061a66a3766e0e75f90,16304,penapolis,SP
8,768a86e36ad6aae3d03ee3c6433d61df,1529,sao paulo,SP
9,ccc4bbb5f32a6ab2b7066a4130f114e3,80310,curitiba,PR

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

None

___Loading raw dataset___
Initial shape : (71, 2)
This is the dataset n°9 : product_category_name_translation

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor
5           esporte_lazer                sports_leisure
6              perfumaria                     perfumery
7   utilidades_domesticas                    housewares
8               telefonia                     telephony
9      relogios_presentes                 watches_gifts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

None

In [238]:
df = dataset_customers.copy()
df["customer_id"].unique()

array(['06b8999e2fba1a1fbc88172c00ba8bc7',
       '18955e83d337fd6b2def6b18a428ac77',
       '4e7b3e00288586ebd08712fdd0374a03', ...,
       '5e28dfe12db7fb50a4b2f691faecea5e',
       '56b18e2166679b8a959d72dd06da27f9',
       '274fa6071e5e17fe303b9748641082c8'], dtype=object)

In [239]:
dataset_order_items[["order_id", "order_item_id"]]

                                order_id  order_item_id
0       00010242fe8c5a6d1ba2dd792cb16214              1
1       00018f77f2f0320c557190d7a144bdd3              1
2       000229ec398224ef6ca0657da4fc703e              1
3       00024acbcdf0a6daa1e931b038114c75              1
4       00042b26cf59d7ce69dfabb4e55b4fd9              1
...                                  ...            ...
112645  fffc94f6ce00a00581880bf54a75a037              1
112646  fffcd46ef2263f404302a634eb57f7eb              1
112647  fffce4705a9662cd70adb13d4a31832d              1
112648  fffe18544ffabc95dfada21779c9644f              1
112649  fffe41c64501cc87c801fd61db3f6244              1

[112650 rows x 2 columns]

In [240]:
dataset_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [241]:
dataset_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [242]:
dataset_merged_orders = dataset_orders.merge(dataset_order_items, on='order_id', how='inner')

print(dataset_orders.shape)
print(dataset_order_items.shape)
display(dataset_merged_orders)

display(dataset_merged_orders.info())

(99441, 8)
(112650, 7)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,2018-02-12 13:10:37,174.90,20.10
112646,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,1,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,2017-09-05 15:04:16,205.99,65.02
112647,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
112648,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
112649,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,1,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   customer_id                    112650 non-null  object
 2   order_status                   112650 non-null  object
 3   order_purchase_timestamp       112650 non-null  object
 4   order_approved_at              112635 non-null  object
 5   order_delivered_carrier_date   111456 non-null  object
 6   order_delivered_customer_date  110196 non-null  object
 7   order_estimated_delivery_date  112650 non-null  object
 8   order_item_id                  112650 non-null  int64
 9   product_id                     112650 non-null  object
 10  seller_id                      112650 non-null  object
 11  shipping_limit_date            112650 non-null  object
 12  price                          112650 non-null  float64
 13  freight_value                  112650 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 12.9+ MB

None

In [243]:
dataset_merged_customers = dataset_orders.merge(dataset_customers, on='customer_id', how='inner')

print(dataset_orders.shape)
print(dataset_customers.shape)
display(dataset_merged_customers)

display(dataset_merged_customers.info())

(99441, 8)
(99441, 5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
 8   customer_unique_id             99441 non-null  object
 9   customer_zip_code_prefix       99441 non-null  int64
 10  customer_city                  99441 non-null  object
 11  customer_state                 99441 non-null  object
dtypes: int64(1), object(11)
memory usage: 9.9+ MB

None

In [244]:
dataset_merged_customers.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state'],
      dtype='object')

In [245]:
dataset_merged_orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value'],
      dtype='object')

In [246]:
dataset_rfm = dataset_merged_customers.merge(dataset_order_items, on='order_id', how='left')

print(dataset_merged_customers.shape)
print(dataset_order_items.shape)

display(dataset_rfm)
display(dataset_rfm.info())

(99441, 12)
(112650, 7)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,1.0,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,2018-02-12 13:10:37,174.90,20.10
113421,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,1.0,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,2017-09-05 15:04:16,205.99,65.02
113422,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
113423,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,2.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-01-12 21:36:21,179.99,40.59
113424,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,1.0,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,2018-03-15 10:55:42,68.50,18.36

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113425 entries, 0 to 113424
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_approved_at              113264 non-null  object
 5   order_delivered_carrier_date   111457 non-null  object
 6   order_delivered_customer_date  110196 non-null  object
 7   order_estimated_delivery_date  113425 non-null  object
 8   customer_unique_id             113425 non-null  object
 9   customer_zip_code_prefix       113425 non-null  int64
 10  customer_city                  113425 non-null  object
 11  customer_state                 113425 non-null  object
 12  order_item_id                  112650 non-null  float64
 13  product_id                     112650 non-null  object
 14  seller_id                      112650 non-null  object
 15  shipping_limit_date            112650 non-null  object
 16  price                          112650 non-null  float64
 17  freight_value                  112650 non-null  float64
dtypes: float64(3), int64(1), object(14)
memory usage: 16.4+ MB

None

x = dataset_rfm.dropna()
x.info()

y_test = dataset_merged_customers.merge(dataset_order_items, on='order_id', how='inner')
y = y_test.dropna()
y.info()

d = pd.concat([x, y]).drop_duplicates(keep=False)
d

In [247]:
dataset_rfm.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [248]:
dataset_rfm_v1 = dataset_rfm.copy() # 'order_status', 'order_approved_at',
dataset_rfm_v1 = dataset_rfm_v1.drop([ 'order_delivered_carrier_date',
                                      'order_delivered_customer_date', 'order_estimated_delivery_date', 'customer_zip_code_prefix', 'customer_city',
                                      'customer_state', 'product_id', 'seller_id',
                                      'shipping_limit_date', 'freight_value'], axis=1)

cols = dataset_rfm_v1.columns.tolist()
print(cols)
cols = ['customer_unique_id', 'customer_id', 'order_id', 'order_item_id', 'order_purchase_timestamp', 'order_status', 'price']
dataset_rfm_v1 = dataset_rfm_v1[cols]

dataset_rfm_v1

['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'customer_unique_id', 'order_item_id', 'price']

,customer_unique_id,customer_id,order_id,order_item_id,order_purchase_timestamp,order_status,price
0,7c396fd4830fd04220f754e42b4e5bff,9ef432eb6251297304e76186b10a928d,e481f51cbdc54678b7cc49136f2d6af7,1.0,2017-10-02 10:56:33,delivered,29.99
1,af07308b275d755c9edb36a90c618231,b0830fb4747a6c6d20dea0b8c802d7ef,53cdb2fc8bc7dce0b6741e2150273451,1.0,2018-07-24 20:41:37,delivered,118.70
2,3a653a41f6f9fc3d2a113cf8398680e8,41ce2a54c0b03bf3443c3d931a367089,47770eb9100c2d0c44946d9cf07ec65d,1.0,2018-08-08 08:38:49,delivered,159.90
3,7c142cf63193a1473d2e66489a9ae977,f88197465ea7920adcdbec7375364d82,949d5b44dbf5de918fe9c16f97b45f8a,1.0,2017-11-18 19:28:06,delivered,45.00
4,72632f0f9dd73dfee390c9b22eb56dd6,8ab97904e6daea8866dbdbc4fb7aad2c,ad21c59c0840e6cb83a9ceb5573f8159,1.0,2018-02-13 21:18:39,delivered,19.90
...,...,...,...,...,...,...,...
113420,da62f9e57a76d978d02ab5362c509660,1fca14ff2861355f6e5f14306ff977a7,63943bddc261676b46f01ca7ac2f7bd8,1.0,2018-02-06 12:58:58,delivered,174.90
113421,737520a9aad80b3fbbdad19b66b37b30,1aa71eb042121263aafbe80c1b562c9c,83c1379a015df1e13d02aae0204711ab,1.0,2017-08-27 14:46:43,delivered,205.99
113422,5097a5312c8b157bb7be58ae360ef43c,b331b74b18dc79bcdf6532d51e1637c1,11c177c8e97725db2631073c19f07b62,1.0,2018-01-08 21:28:27,delivered,179.99
113423,5097a5312c8b157bb7be58ae360ef43c,b331b74b18dc79bcdf6532d51e1637c1,11c177c8e97725db2631073c19f07b62,2.0,2018-01-08 21:28:27,delivered,179.99
113424,60350aa974b26ff12caad89e55993bd6,edb027a75a1449115f6b43211ae02a24,66dea50a8b16d9b4dee7af250b4be1a5,1.0,2018-03-08 20:57:30,delivered,68.50

In [249]:
dataset_rfm_v1['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [250]:
dataset_rfm_v2 = dataset_rfm_v1.dropna().copy()
dataset_rfm_v2 = dataset_rfm_v2.sort_values(by="order_purchase_timestamp", ascending=False)

In [251]:
df_unique_customer = dataset_rfm_v2.groupby(["customer_unique_id"])
df_unique_customer.first()

,customer_id,order_id,order_item_id,order_purchase_timestamp,order_status,price
customer_unique_id,,,,,,
0000366f3b9a7992bf8c76cfdf3221e2,fadbb3709178fc513abc1b2670aa1ad2,e22acc9c116caa3f2b7121bbb380d08e,1.0,2018-05-10 10:56:27,delivered,129.90
0000b849f77a49e4a4ce2b2a4ca5be3f,4cb282e167ae9234755102258dd52ee8,3594e05a005ac4d06a72673270ef9ec9,1.0,2018-05-07 11:11:27,delivered,18.90
0000f46a3911fa3c0805444483337064,9b3932a6253894a02c1df9d19004239f,b33ec3b699337181488304f362a6b734,1.0,2017-03-10 21:05:03,delivered,69.00
0000f6ccb0745a6a4b88665a16c9f078,914991f0c02ef0843c0e7010c819d642,41272756ecddd9a9ed0180413cc22fb6,1.0,2017-10-12 20:29:41,delivered,25.99
0004aac84e0df4da2b147fca70cf8255,47227568b10f5f58a524a75507e6992c,d957021f1127559cd947b62533f484f7,1.0,2017-11-14 19:45:42,delivered,180.00
...,...,...,...,...,...,...
fffcf5a5ff07b0908bd4e2dbc735a684,74be082247cd677a147d83ee670e9d53,725cf8e9c24e679a8a5a32cb92c9ce1e,1.0,2017-06-08 21:00:36,delivered,890.00
fffea47cd6d3cc0a88bd621562a9d061,0ecf8e0a08148af0bf313184f167670a,c71b9252fd7b3b263aaa4cb09319a323,1.0,2017-12-10 20:07:56,delivered,64.89
ffff371b4d645b6ecea244b27531430a,27f584b0f1dc4e610065c240f68b6be0,fdc45e6c7555e6cb3cc0daca2557dbe1,1.0,2017-02-07 15:49:16,delivered,89.90
ffff5962728ec6157033ef9805bacc48,832a3b0254347d409512ae92eaf154a6,94d3ee0bc2a0af9d4fa47a4d63616e8d,1.0,2018-05-02 15:17:41,delivered,115.00
ffffd2657e2aad2907e67c3e9daecbeb,70bc4d9cf2bbeea3f7b09798370f5884,f79a35da168301ae56922475da21117b,1.0,2017-05-02 20:18:45,delivered,56.99

In [252]:
dataset_rfm_v2[dataset_rfm_v2["order_item_id"] > 2]

,customer_unique_id,customer_id,order_id,order_item_id,order_purchase_timestamp,order_status,price
7808,afbcfd0b9c5233e7ccc73428526fbb52,448945bc713d98b6726e82eda6249b9e,bee12e8653a04e76786e8891cfb6330a,4.0,2018-08-29 08:46:11,delivered,91.55
7807,afbcfd0b9c5233e7ccc73428526fbb52,448945bc713d98b6726e82eda6249b9e,bee12e8653a04e76786e8891cfb6330a,3.0,2018-08-29 08:46:11,delivered,91.55
7809,afbcfd0b9c5233e7ccc73428526fbb52,448945bc713d98b6726e82eda6249b9e,bee12e8653a04e76786e8891cfb6330a,5.0,2018-08-29 08:46:11,delivered,91.55
19715,fb7e29c65321441231990afc201c1b14,49a6ae8a95c6a78d90945b983ab1ecfc,d4fae577806d683110e00e18a5e181be,4.0,2018-08-28 19:32:05,delivered,49.99
19714,fb7e29c65321441231990afc201c1b14,49a6ae8a95c6a78d90945b983ab1ecfc,d4fae577806d683110e00e18a5e181be,3.0,2018-08-28 19:32:05,delivered,17.90
...,...,...,...,...,...,...,...
18942,5f61b10d70849d46be5643b7453e1708,6deeb4ffef6cf320ef5a642302f04104,ad1aeeb1a99c9f021e38a49865bb812c,4.0,2016-10-05 12:41:38,delivered,77.90
18941,5f61b10d70849d46be5643b7453e1708,6deeb4ffef6cf320ef5a642302f04104,ad1aeeb1a99c9f021e38a49865bb812c,3.0,2016-10-05 12:41:38,delivered,77.90
101452,221234182f828fb9f2a4ba9c89874ede,3f6f000d5b0a959f38481fad4ab7cac2,bcbc0973414b1dd97555e6f8e9713cfa,4.0,2016-10-04 23:59:01,delivered,79.90
101451,221234182f828fb9f2a4ba9c89874ede,3f6f000d5b0a959f38481fad4ab7cac2,bcbc0973414b1dd97555e6f8e9713cfa,3.0,2016-10-04 23:59:01,delivered,79.90
35039,830d5b7aaa3b6f1e9ad63703bec97d23,86dc2ffce2dfff336de2f386a786e574,bfbd0f9bdef84302105ad712db648a6c,3.0,2016-09-15 12:16:38,delivered,44.99

In [253]:
dataset_rfm_v1["customer_id"].unique()

array(['9ef432eb6251297304e76186b10a928d',
       'b0830fb4747a6c6d20dea0b8c802d7ef',
       '41ce2a54c0b03bf3443c3d931a367089', ...,
       '1aa71eb042121263aafbe80c1b562c9c',
       'b331b74b18dc79bcdf6532d51e1637c1',
       'edb027a75a1449115f6b43211ae02a24'], dtype=object)

In [254]:
df_unique_customer.get_group('831a032a3327e2b8325faf9d37953870')

,customer_unique_id,customer_id,order_id,order_item_id,order_purchase_timestamp,order_status,price
174,831a032a3327e2b8325faf9d37953870,d19f254a07da73a055409256e9bfe40a,90349f264a3d6a2525a34598d09dda6b,3.0,2018-05-11 16:35:19,delivered,45.0
175,831a032a3327e2b8325faf9d37953870,d19f254a07da73a055409256e9bfe40a,90349f264a3d6a2525a34598d09dda6b,4.0,2018-05-11 16:35:19,delivered,45.0
176,831a032a3327e2b8325faf9d37953870,d19f254a07da73a055409256e9bfe40a,90349f264a3d6a2525a34598d09dda6b,5.0,2018-05-11 16:35:19,delivered,45.0
177,831a032a3327e2b8325faf9d37953870,d19f254a07da73a055409256e9bfe40a,90349f264a3d6a2525a34598d09dda6b,6.0,2018-05-11 16:35:19,delivered,45.0
173,831a032a3327e2b8325faf9d37953870,d19f254a07da73a055409256e9bfe40a,90349f264a3d6a2525a34598d09dda6b,2.0,2018-05-11 16:35:19,delivered,45.0
172,831a032a3327e2b8325faf9d37953870,d19f254a07da73a055409256e9bfe40a,90349f264a3d6a2525a34598d09dda6b,1.0,2018-05-11 16:35:19,delivered,45.0

In [255]:
dataset_rfm_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113425 entries, 0 to 113424
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   customer_unique_id        113425 non-null  object
 1   customer_id               113425 non-null  object
 2   order_id                  113425 non-null  object
 3   order_item_id             112650 non-null  float64
 4   order_purchase_timestamp  113425 non-null  object
 5   order_status              113425 non-null  object
 6   price                     112650 non-null  float64
dtypes: float64(2), object(5)
memory usage: 6.9+ MB

In [256]:
dataset_rfm_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 70989 to 5117
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   customer_unique_id        112650 non-null  object
 1   customer_id               112650 non-null  object
 2   order_id                  112650 non-null  object
 3   order_item_id             112650 non-null  float64
 4   order_purchase_timestamp  112650 non-null  object
 5   order_status              112650 non-null  object
 6   price                     112650 non-null  float64
dtypes: float64(2), object(5)
memory usage: 6.9+ MB

In [257]:
recency = dataset_rfm_v2["order_purchase_timestamp"]
display(recency)

from datetime import datetime

#datetime_str = dataset_rfm_v2["order_purchase_timestamp"]
#datetime_object = datetime.strptime(datetime_str, '%y/%m/%s %H:%M:%S')

datetime_object = pd.to_datetime(recency)
# Using to_datetime() & astype()

70989     2018-09-03 09:06:57
100363    2018-08-29 15:00:37
79408     2018-08-29 14:52:00
35930     2018-08-29 14:18:28
34292     2018-08-29 14:18:23
                 ...
35038     2016-09-15 12:16:38
35039     2016-09-15 12:16:38
4955      2016-09-05 00:15:34
5116      2016-09-04 21:15:19
5117      2016-09-04 21:15:19
Name: order_purchase_timestamp, Length: 112650, dtype: object

In [258]:
print(datetime_object.dtype)  # printed in default format

datetime64[ns]

In [259]:
df = dataset_rfm_v2.copy()
df['order_purchase_timestamp']=pd.to_datetime(df['order_purchase_timestamp'].astype(str), format='%Y/%m/%d') # .astype(str)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 70989 to 5117
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   customer_unique_id        112650 non-null  object
 1   customer_id               112650 non-null  object
 2   order_id                  112650 non-null  object
 3   order_item_id             112650 non-null  float64
 4   order_purchase_timestamp  112650 non-null  datetime64[ns]
 5   order_status              112650 non-null  object
 6   price                     112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 6.9+ MB

In [260]:
df.sort_values(by="order_purchase_timestamp", ascending=False)

,customer_unique_id,customer_id,order_id,order_item_id,order_purchase_timestamp,order_status,price
70989,ff22e30958c13ffe219db7d711e8f564,4b7decb9b58e2569548b8b4c8e20e8d7,54282e97f61c23b78330c15b154c867d,1.0,2018-09-03 09:06:57,shipped,145.00
100363,24ac2b4327e25baf39f2119e4228976a,898b7fee99c4e42170ab69ba59be0a8b,35a972d7f8436f405b56e36add1a7140,1.0,2018-08-29 15:00:37,delivered,84.99
79408,b701bebbdf478f5500348f03aff62121,496630b6740bcca28fce9ba50d8a26ef,03ef5dedbe7492bdae72eec50764c43f,1.0,2018-08-29 14:52:00,delivered,24.90
35930,7febafa06d9d8f232a900a2937f04338,6e353700bc7bcdf6ebc15d6de16d7002,168626408cb32af0ffaf76711caae1dc,1.0,2018-08-29 14:18:28,delivered,45.90
34292,5c58de6fb80e93396e2f35642666b693,e60df9449653a95af4549bbfcb18a6eb,0b223d92c27432930dfe407c6aea3041,2.0,2018-08-29 14:18:23,delivered,209.00
...,...,...,...,...,...,...,...
35038,830d5b7aaa3b6f1e9ad63703bec97d23,86dc2ffce2dfff336de2f386a786e574,bfbd0f9bdef84302105ad712db648a6c,2.0,2016-09-15 12:16:38,delivered,44.99
35039,830d5b7aaa3b6f1e9ad63703bec97d23,86dc2ffce2dfff336de2f386a786e574,bfbd0f9bdef84302105ad712db648a6c,3.0,2016-09-15 12:16:38,delivered,44.99
4955,4854e9b3feff728c13ee5fc7d1547e92,683c54fc24d40ee9f8a6fc179fd9856c,e5fa5a7210941f7d56d0208e4e071d35,1.0,2016-09-05 00:15:34,canceled,59.50
5116,b7d76e111c89f7ebf14761390f0f7d17,08c5351a6aca1c1589a38f244edeee9d,2e7a8482f6fb09756ca50c10d7bfc047,1.0,2016-09-04 21:15:19,shipped,39.99
5117,b7d76e111c89f7ebf14761390f0f7d17,08c5351a6aca1c1589a38f244edeee9d,2e7a8482f6fb09756ca50c10d7bfc047,2.0,2016-09-04 21:15:19,shipped,32.90

In [261]:
df2 = df.copy()

df2.set_index('order_purchase_timestamp')

,customer_unique_id,customer_id,order_id,order_item_id,order_status,price
order_purchase_timestamp,,,,,,
2018-09-03 09:06:57,ff22e30958c13ffe219db7d711e8f564,4b7decb9b58e2569548b8b4c8e20e8d7,54282e97f61c23b78330c15b154c867d,1.0,shipped,145.00
2018-08-29 15:00:37,24ac2b4327e25baf39f2119e4228976a,898b7fee99c4e42170ab69ba59be0a8b,35a972d7f8436f405b56e36add1a7140,1.0,delivered,84.99
2018-08-29 14:52:00,b701bebbdf478f5500348f03aff62121,496630b6740bcca28fce9ba50d8a26ef,03ef5dedbe7492bdae72eec50764c43f,1.0,delivered,24.90
2018-08-29 14:18:28,7febafa06d9d8f232a900a2937f04338,6e353700bc7bcdf6ebc15d6de16d7002,168626408cb32af0ffaf76711caae1dc,1.0,delivered,45.90
2018-08-29 14:18:23,5c58de6fb80e93396e2f35642666b693,e60df9449653a95af4549bbfcb18a6eb,0b223d92c27432930dfe407c6aea3041,2.0,delivered,209.00
...,...,...,...,...,...,...
2016-09-15 12:16:38,830d5b7aaa3b6f1e9ad63703bec97d23,86dc2ffce2dfff336de2f386a786e574,bfbd0f9bdef84302105ad712db648a6c,2.0,delivered,44.99
2016-09-15 12:16:38,830d5b7aaa3b6f1e9ad63703bec97d23,86dc2ffce2dfff336de2f386a786e574,bfbd0f9bdef84302105ad712db648a6c,3.0,delivered,44.99
2016-09-05 00:15:34,4854e9b3feff728c13ee5fc7d1547e92,683c54fc24d40ee9f8a6fc179fd9856c,e5fa5a7210941f7d56d0208e4e071d35,1.0,canceled,59.50
2016-09-04 21:15:19,b7d76e111c89f7ebf14761390f0f7d17,08c5351a6aca1c1589a38f244edeee9d,2e7a8482f6fb09756ca50c10d7bfc047,1.0,shipped,39.99
2016-09-04 21:15:19,b7d76e111c89f7ebf14761390f0f7d17,08c5351a6aca1c1589a38f244edeee9d,2e7a8482f6fb09756ca50c10d7bfc047,2.0,shipped,32.90

In [262]:
df3 = df2.copy()

df3 = df3.groupby('customer_id')
df3.first()

,customer_unique_id,order_id,order_item_id,order_purchase_timestamp,order_status,price
customer_id,,,,,,
00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,5f79b5b0931d63f1a42989eb65b9da6e,1.0,2017-11-14 16:08:26,delivered,89.80
000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,a44895d095d7e0702b6a162fa2dbeced,1.0,2017-07-16 09:40:32,delivered,54.90
0001fd6190edaaf884bcaf3d49edf079,94b11d37cd61cb2994a194d11f89682b,316a104623542e4d75189bb372bc5f8d,1.0,2017-02-28 11:06:43,delivered,179.99
0002414f95344307404f0ace7a26f1d5,4893ad4ea28b2c5b3ddf4e82e79db9e6,5825ce2e88d5346438686b0bba99e5ee,1.0,2017-08-16 13:09:20,delivered,149.90
000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,0ab7fb08086d4af9141453c91878ed7a,1.0,2018-04-02 13:42:17,delivered,93.00
...,...,...,...,...,...,...
fffcb937e9dd47a13f05ecb8290f4d3e,bb438f958261edabbe96fc22622499c4,620ddc9fbe3e445676a8e71d4a830821,1.0,2018-03-17 00:55:27,delivered,78.00
fffecc9f79fd8c764f843e9951b11341,e5794df8573fa179a90a7b797fc4b71f,814d6a3a7c0b32b2ad929ac6328124e9,1.0,2018-03-29 16:59:26,delivered,54.90
fffeda5b6d849fbd39689bb92087f431,afbb5a642107cf6bb1ca68e863175f03,8c855550908247a7eff50281b92167a8,1.0,2018-05-22 13:36:02,delivered,47.90
ffff42319e9b2d713724ae527742af25,680213db6ebd9e4f24d03280cbe10346,83b5fc912b2862c5046555ded1483ae9,1.0,2018-06-13 16:57:05,delivered,199.90
ffffa3172527f765de70084a7e53aae8,48fd7dec70f2b104a1d5e8c5c639102b,d0e7be325a1c986babc4e1cdb91edc03,1.0,2017-09-02 11:53:32,delivered,10.90

In [263]:
df3 = df2.copy()

df3 = df3.groupby('customer_id')

last_purchase =((dataset_rfm_v2.sort_values(
    by=['order_purchase_timestamp'],
    ascending=True)).set_index(
    'order_purchase_timestamp')).groupby(
    'customer_id').idxmax().drop('price',
                                 axis=1)

last_purchase

last_purchase_2 =((dataset_rfm_v2.sort_values(
    by=['order_purchase_timestamp'],
    ascending=True)).set_index(
    'order_purchase_timestamp')).groupby(
    'customer_id').idxmax().drop('price',
                                 axis=1)

last_purchase_2

In [264]:
data = dataset_rfm_v2.copy()
data

,customer_unique_id,customer_id,order_id,order_item_id,order_purchase_timestamp,order_status,price
70989,ff22e30958c13ffe219db7d711e8f564,4b7decb9b58e2569548b8b4c8e20e8d7,54282e97f61c23b78330c15b154c867d,1.0,2018-09-03 09:06:57,shipped,145.00
100363,24ac2b4327e25baf39f2119e4228976a,898b7fee99c4e42170ab69ba59be0a8b,35a972d7f8436f405b56e36add1a7140,1.0,2018-08-29 15:00:37,delivered,84.99
79408,b701bebbdf478f5500348f03aff62121,496630b6740bcca28fce9ba50d8a26ef,03ef5dedbe7492bdae72eec50764c43f,1.0,2018-08-29 14:52:00,delivered,24.90
35930,7febafa06d9d8f232a900a2937f04338,6e353700bc7bcdf6ebc15d6de16d7002,168626408cb32af0ffaf76711caae1dc,1.0,2018-08-29 14:18:28,delivered,45.90
34292,5c58de6fb80e93396e2f35642666b693,e60df9449653a95af4549bbfcb18a6eb,0b223d92c27432930dfe407c6aea3041,2.0,2018-08-29 14:18:23,delivered,209.00
...,...,...,...,...,...,...,...
35038,830d5b7aaa3b6f1e9ad63703bec97d23,86dc2ffce2dfff336de2f386a786e574,bfbd0f9bdef84302105ad712db648a6c,2.0,2016-09-15 12:16:38,delivered,44.99
35039,830d5b7aaa3b6f1e9ad63703bec97d23,86dc2ffce2dfff336de2f386a786e574,bfbd0f9bdef84302105ad712db648a6c,3.0,2016-09-15 12:16:38,delivered,44.99
4955,4854e9b3feff728c13ee5fc7d1547e92,683c54fc24d40ee9f8a6fc179fd9856c,e5fa5a7210941f7d56d0208e4e071d35,1.0,2016-09-05 00:15:34,canceled,59.50
5116,b7d76e111c89f7ebf14761390f0f7d17,08c5351a6aca1c1589a38f244edeee9d,2e7a8482f6fb09756ca50c10d7bfc047,1.0,2016-09-04 21:15:19,shipped,39.99
5117,b7d76e111c89f7ebf14761390f0f7d17,08c5351a6aca1c1589a38f244edeee9d,2e7a8482f6fb09756ca50c10d7bfc047,2.0,2016-09-04 21:15:19,shipped,32.90

In [267]:
x = data.groupby("order_id").count()
x

,customer_unique_id,customer_id,order_item_id,order_purchase_timestamp,order_status,price
order_id,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,1,1,1,1,1,1
00018f77f2f0320c557190d7a144bdd3,1,1,1,1,1,1
000229ec398224ef6ca0657da4fc703e,1,1,1,1,1,1
00024acbcdf0a6daa1e931b038114c75,1,1,1,1,1,1
00042b26cf59d7ce69dfabb4e55b4fd9,1,1,1,1,1,1
...,...,...,...,...,...,...
fffc94f6ce00a00581880bf54a75a037,1,1,1,1,1,1
fffcd46ef2263f404302a634eb57f7eb,1,1,1,1,1,1
fffce4705a9662cd70adb13d4a31832d,1,1,1,1,1,1
fffe18544ffabc95dfada21779c9644f,1,1,1,1,1,1
fffe41c64501cc87c801fd61db3f6244,1,1,1,1,1,1

In [273]:
tot_orders = data.groupby(['customer_id']).count().sort_values(
    by=['order_id'],
    ascending=False).drop(['price',
                           'order_purchase_timestamp'],
                          axis=1)
tot_orders

,customer_unique_id,order_id,order_item_id,order_status
customer_id,,,,
fc3d1daec319d62d49bfb5e1f83123e9,21,21,21,21
be1b70680b9f9694d8c70f41fa3dc92b,20,20,20,20
bd5d39761aa56689a265d95d8d32b8be,20,20,20,20
adb32467ecc74b53576d9d13a5a55891,15,15,15,15
10de381f8a8d23fff822753305f71cae,15,15,15,15
...,...,...,...,...
5a1739996fb7a15067fa38c3a0a1097e,1,1,1,1
5a15f2faee1402a7a587641c107b5e10,1,1,1,1
5a158dfc1554dd2b4fe7f3c2581993bd,1,1,1,1
5a1523d32a6d1b323a05895f5164655d,1,1,1,1
800512d0215633d567abe5ce2591f01d,1,1,1,1